body{
    background: rgb(163, 143, 143);
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  rgb(114, 98, 98);
    font-style:normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


#panel{
    background: white;
    border-radius: 8px;
    width: 350px;
    height: 500px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#panel h1{
    font-size: 25px;
}

#panel h2{
    padding: 0 0 5px 0;   
    margin: 0;
    font-size: 18px;
}

#task{
    border: 3px solid rgb(163, 143, 143);
    border-radius: 7px;
    width: 280px;
    height: 30px;
    font-size: 13px;
    margin-bottom: 20px;    
    padding-left: 10px;
    color:  rgb(114, 98, 98);
}

button.add{
    background-color: rgb(158, 55, 55);
    width: 160px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    
}

button.add:hover{
    background-color: rgb(90, 29, 29);
    
}


button.remove {
    background-color: rgb(87, 90, 238);
    width: 62px;
    height: 25px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    color: white;
    font-size: 11px;
    transition: background-color 0.3s ease;
}

button.remove:hover {
    background-color: rgb(34, 33, 105);
}

button.edit {
    background-color: rgb(56, 54, 59);
    width: 62px;
    height: 25px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    color: white;
    font-size: 11px;
    transition: background-color 0.3s ease;
}

button.edit:hover {
    background-color: rgb(34, 33, 105);
}

button.clear {
    background-color: rgb(87, 90, 238);
    width: 160px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

button.clear:hover {
    background-color: rgb(34, 33, 105);
}

#panel h3{
   font-size: 14px; 
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 130px;
  overflow-y: auto;
  padding: 0;   
  margin: 0;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    min-height: 35px;
    background: rgba(163, 143, 143, 0.3);
    border: 2px solid rgba(114, 98, 98, 0.4);
    border-radius: 10px;
    font-size: 13px;   
}

@media(min-width: 700px) {

    #panel{
    width: 500px;
    height: 800px;        
    padding-top: 20px;
    }

    #task{
    border-radius: 10px;
    width: 350px;
    height: 40px;
    font-size: 13px;
    }

    button.add{
    width: 230px;
    height: 40px;
    font-size: 18px;
    }

    button.clear {
    width: 230px;
    height: 40px;
    font-size: 18px;
    }

    ul{
    padding: 24px 0;
    max-height: 248px;
    gap: 10px;
    }

    ul li{
    width: 400px;
    min-height: 50px;
    font-size: 18px;   
    }

    #panel h1{
    font-size: 32px;
    }

    #panel h2{
    font-size: 24px;
    }

    #panel h3{
    font-size: 19px;
    }

    button.remove {
    width: 70px;
    height: 30px;
    font-size: 13px;
    }

    button.edit {
    width: 70px;
    height: 30px;
    font-size: 13px;
    }
}